In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
entire_list = []
search = ['data+science', 'machine+learning', 'python+programming', 'java', 'computer+science']
url_list = ['https://openlibrary.org/search?q='+i+'&mode=everything' for i in search]
for suburl in url_list:
  main_soup = BeautifulSoup(requests.get(suburl).text)
  prev_url = 'https://openlibrary.org'
  link = [prev_url + a['href'] for a in main_soup.find_all('a', {'class': 'results'})]
  link = [i for i in link if 'authors' not in i][0:5]
  cate_index = 0
  for i in link:
    category = search[cate_index]

    soup = BeautifulSoup(requests.get(i).text)

    titles = soup.find_all('h1', {'class': 'work-title'})
    if len(titles) > 0:
      title = titles[0].text
    else:
      title = "unknown"
    
    dates = soup.find_all('span', {'class': "first-published-date"})
    if len(dates) > 0:
      date = dates[0]['title'][-4:]
    else:
      date = "unknown"

    authors = soup.find_all('h2', {'class': "edition-byline"})
    if len(authors) > 0:
      author = authors[0].text.replace('\n', '')[4:]
    else:
      author = 'unknown'

    language = soup.find_all('a', {'href': "/languages/eng"})
    if len(language) > 0:
      lan = language[0].text
    else:
      lan = "unknown"

    list_store = [category, title, date, author, lan]
    #list_store = [i for i in list_store if i != '']
    entire_list.append(list_store)
  cate_index += 1
entire_list[0:5]

[['data+science',
  'Engineering sciences data: structures',
  '1944',
  'by Engineering Sciences Data Unit.',
  'English'],
 ['data+science',
  'Houghton Mifflin Science',
  '2006',
  'by Houghton Mifflin Company Staff',
  'English'],
 ['data+science',
  'Data Science',
  '2022',
  'by Tiffany-Anne Timbers, Trevor Campbell, and Melissa Lee',
  'English'],
 ['data+science', 'Windows on Science', '1994', 'by Optical Data', 'unknown'],
 ['data+science', 'Data Science', '2022', 'by Ebonie Slough', 'English']]

In [ ]:
import pandas as pd

#convert to Dataframe specifying columns names
df = pd.DataFrame(entire_list, columns=['Category','Title','Publish_Time','Author', 'Language'])
df

,Category,Title,Publish_Time,Author,Language
0,data+science,Engineering sciences data: structures,1944,by Engineering Sciences Data Unit.,English
1,data+science,Houghton Mifflin Science,2006,by Houghton Mifflin Company Staff,English
2,data+science,Data Science,2022,"by Tiffany-Anne Timbers, Trevor Campbell, and ...",English
3,data+science,Windows on Science,1994,by Optical Data,unknown
4,data+science,Data Science,2022,by Ebonie Slough,English
5,data+science,Machine learning,1995,by Machine Learning,English
6,data+science,Machine Learning Proceedings 1993,1993,by Machine Learning,English
7,data+science,Machine Learning Proceedings 1990,1990,by Machine Learning,English
8,data+science,Machine Learning Proceedings 1991 (Ml91),1991,by Machine Learning,English
9,data+science,Machine Learning Proceedings 1989,1989,by Machine Learning,English
10,data+science,Intro to Python,2020,by Programming For Scientists,English
11,data+science,Python for Beginners : 2 Books in 1,2021,by Programming Languages ACADEMY,English
12,data+science,Core Python programming,2006,by Wesley Chun,English
13,data+science,Python Programming,2020,by Infinity Solutions,English
14,data+science,Python Programming,2019,by Sarah Stewart,unknown
15,data+science,Java Head,1918,by Joseph Hergesheimer,English
16,data+science,Big Java,2001,by Cay S. Horstmann,English
17,data+science,"Java, Java, Java",2002,"by R. Morelli, Ralph Morelli, and Ralph Walde",English
18,data+science,"Java, Java, Java",unknown,by R. Morelli and Ralph Morelli,English
19,data+science,"Java, Java, Java",2000,by R. Morelli and Ralph Morelli,English
20,data+science,Computer science,1989,by Carl French and C. S. French,English
21,data+science,Computer Science,2002,by J. Glenn Brookshear and Glenn Brookshear,English
22,data+science,Computing Science,1982,by Peter Bishop,English
23,data+science,Python Programming : This Book Includes,2020,by Computer Science Computer Science Academ...,English
24,data+science,Computer science,1985,by J. Glenn Brookshear and Brookshear,English

In [ ]:
#2
#extract and clean data
url = "https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt"
df = pd.read_csv(url, skiprows=7, delim_whitespace=True, header=None)
#remove the last few lines of comments
df=df[:-5]
#get only 1900-2015
df=df[20:-4]
#remove the last few cols that includes irrelevant data 
df=df.iloc[:,:-7]
#make months as header
df = pd.DataFrame(df.values[1:], columns=df.iloc[2])
#delete rows with year and months
df = df[df.iloc[:,0]!='Year']
df = df.set_index('Year')
df = df.astype(int)
df

22    Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
Year
1900  -37   -3    1  -12  -10  -13  -13  -10   -5    9  -10   -7
1901  -24   -4    8   -4  -17  -13  -16  -20  -22  -31  -17  -28
1902  -20   -3  -29  -30  -35  -35  -30  -32  -29  -29  -39  -46
1903  -26   -4  -24  -43  -44  -46  -37  -49  -49  -48  -45  -52
1904  -68  -58  -51  -55  -56  -51  -54  -50  -53  -40  -22  -35
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2011   48   51   62   62   51   57   71   71   54   63   56   53
2012   45   48   56   68   75   63   53   62   72   74   73   52
2013   67   56   65   53   58   66   57   66   78   67   78   65
2014   73   52   76   77   85   66   56   81   88   81   66   77
2015   81   87   90   75   75   79   71   79   82  107  103  110

[116 rows x 12 columns]

In [ ]:
# Find minimum temperature in Jan between 1900 - 2015
# Your code here
jan = df['Jan']
jan.loc[jan==min(jan)]

Year
1909   -69
Name: Jan, dtype: int64

In [ ]:
#Find average temp in each year
[sum(df.iloc[i]/12) for i in range(len(df))]

[-9.166666666666666,
 -15.666666666666668,
 -29.75,
 -38.916666666666664,
 -49.416666666666664,
 -28.91666666666666,
 -22.499999999999996,
 -39.66666666666667,
 -43.58333333333333,
 -47.50000000000001,
 -43.25,
 -43.33333333333333,
 -35.75,
 -35.66666666666667,
 -15.666666666666666,
 -12.666666666666668,
 -33.333333333333336,
 -44.08333333333333,
 -28.833333333333336,
 -27.416666666666664,
 -26.5,
 -18.333333333333332,
 -27.75,
 -25.083333333333336,
 -25.916666666666668,
 -20.833333333333332,
 -9.583333333333334,
 -20.833333333333332,
 -19.666666666666668,
 -35.08333333333334,
 -14.916666666666664,
 -10.083333333333334,
 -16.5,
 -29.5,
 -13.583333333333334,
 -20.416666666666668,
 -15.750000000000002,
 -3.583333333333334,
 -3.083333333333334,
 -2.6666666666666665,
 11.75,
 18.333333333333336,
 5.5,
 7.083333333333333,
 20.833333333333332,
 8.75,
 -7.0,
 -3.833333333333333,
 -10.249999999999998,
 -10.666666666666668,
 -18.16666666666667,
 -6.666666666666667,
 0.7499999999999997,
 6.833333333333333,
 -14.750000000000002,
 -14.333333333333332,
 -20.500000000000004,
 4.25,
 6.916666666666667,
 2.8333333333333335,
 -2.1666666666666665,
 5.583333333333333,
 3.8333333333333335,
 6.916666666666667,
 -19.75,
 -10.583333333333334,
 -4.916666666666666,
 -2.333333333333334,
 -7.666666666666666,
 6.749999999999999,
 3.166666666666666,
 -9.083333333333332,
 1.333333333333333,
 16.166666666666668,
 -7.916666666666667,
 -1.333333333333334,
 -10.749999999999998,
 17.083333333333336,
 6.416666666666666,
 15.833333333333334,
 27.083333333333336,
 33.083333333333336,
 13.250000000000002,
 31.500000000000004,
 16.083333333333332,
 11.833333333333332,
 18.0,
 33.25,
 40.74999999999999,
 28.916666666666668,
 44.08333333333333,
 41.41666666666667,
 22.33333333333333,
 23.83333333333333,
 30.750000000000004,
 44.5,
 33.5,
 46.833333333333336,
 62.24999999999999,
 39.666666666666664,
 39.91666666666667,
 52.916666666666664,
 62.08333333333334,
 60.5,
 53.16666666666667,
 66.66666666666667,
 61.66666666666668,
 63.75,
 51.583333333333336,
 63.166666666666664,
 69.66666666666666,
 58.24999999999999,
 61.75,
 64.66666666666667,
 73.16666666666667,
 86.58333333333334]

In [ ]:
#Find temp in Jan 2000
jan['2000']

23

In [ ]:
#Find temp in Jun 2009
jun = df['Jun']
jun['2009']

65

In [ ]:
#3
class mystr(str):
    def replace_all(self, ini_list, new_list):
        if len(ini_list) != len(new_list):
            raise ValueError("Lists does not have same length")

        new_str = ''
        for char in self:
            if char in ini_list:
                new_str += new_list[ini_list.index(char)]
            else:
                new_str += char
        return new_str

    def upper_first_last(self):
        if len(self) <= 1:
            return self.upper()
        else:
            return self[0].upper() + self[1:-1] + self[-1].upper()

    def ispalindrome(self):
        return self == self[::-1]

x=mystr('welcome everyone.. today is Tuesday')
print(x.replace_all(['e','o'],['a','u']))
print(mystr.upper_first_last('welcome'))
print(mystr.ispalindrome('welcome'))
print(mystr.ispalindrome('weaew'))

walcuma avaryuna.. tuday is Tuasday
WelcomE
False
True