## Exercise 01

Write code to read data from: https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt . 

Keep all monthly temperatures (from Jan to Dec) between 1980 and 2015 ONLY (ignore any other data), then:

- Find minimum temperature in Jan between 1980 - 2015
- Find average temperature in each year between 1980 - 2015
- Find temperature in Jan 2000
- Find temperature in Jun 2009

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
#extract and clean data
url = "https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt"
df = pd.read_csv(url, skiprows=7, delim_whitespace=True, header=None)
#remove the last few lines of comments
df=df[:-5]
#get only 1980-2015
df=df[104:-4]
#remove the last few cols that includes irrelevant data 
df=df.iloc[:,:-7]
#make months as header
df = pd.DataFrame(df.values[1:], columns=df.iloc[2])
#delete rows with year and months
df = df[df.iloc[:,0]!='Year']
df = df.set_index('Year')
df = df.astype(int)
df

106   Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
Year
1980   30   42   30   33   36   17   28   23   19   18   29   20
1981   55   41   49   32   24   32   34   32   17   14   24   43
1982   10   15   -1   10   15    5   13    7   14   13   15   43
1983   52   41   43   31   36   20   18   33   39   16   32   17
1984   30   17   29    8   33    5   17   16   21   16    6   -5
1985   22   -6   17   11   17   18   -1   15   15   11    8   15
1986   28   39   27   24   24   11   11   12    0   13   11   16
1987   36   46   16   22   25   37   45   28   39   32   25   48
1988   58   43   51   45   43   43   34   47   41   39   12   33
1989   15   35   36   33   16   14   34   37   37   32   20   38
1990   41   41   77   55   46   38   43   31   29   41   46   41
1991   41   49   35   52   38   53   48   40   48   30   31   32
1992   44   42   48   24   32   25   12    7    0    9    3   22
1993   37   39   36   27   27   25   28   13   10   22    6   16
1994   27    2   27   40   28   42   30   21   29   41   46   36
1995   51   78   45   47   26   41   48   46   32   47   45   28
1996   25   48   32   36   27   25   35   49   25   19   41   40
1997   31   38   53   36   36   53   35   41   53   62   65   59
1998   60   90   63   63   69   77   68   66   42   44   49   56
1999   48   65   34   32   31   37   37   31   41   39   38   43
2000   23   56   57   57   36   41   38   42   40   28   32   29
2001   42   43   55   50   56   54   60   48   53   50   69   55
2002   75   75   89   56   63   55   61   53   62   55   58   43
2003   73   55   57   53   60   47   53   65   64   74   52   73
2004   58   72   64   62   38   42   24   43   50   64   70   51
2005   72   57   69   66   62   66   63   60   74   75   71   65
2006   56   69   62   50   46   64   52   70   61   67   70   73
2007   95   70   69   73   66   59   60   57   59   57   54   46
2008   23   34   73   51   47   46   59   44   62   63   64   53
2009   61   51   52   58   64   65   69   66   68   63   76   65
2010   73   79   91   85   73   62   59   63   59   69   77   46
2011   48   51   62   62   51   57   71   71   54   63   56   53
2012   45   48   56   68   75   63   53   62   72   74   73   52
2013   67   56   65   53   58   66   57   66   78   67   78   65
2014   73   52   76   77   85   66   56   81   88   81   66   77
2015   81   87   90   75   75   79   71   79   82  107  103  110

In [3]:
# Find minimum temperature in Jan between 1980 - 2015
# Your code here
jan = df['Jan']
jan.loc[jan==min(jan)]

Year
1982    10
Name: Jan, dtype: int64

In [4]:
# Find average temperature in each year between 1980 - 2015
# Your code here
#df.sum().sum() /(len(df)*12)

#in the form of (year, average temperature)
[(1980+i, sum(df.iloc[i]/12)) for i in range(len(df))]

[(1980, 27.083333333333336),
 (1981, 33.083333333333336),
 (1982, 13.250000000000002),
 (1983, 31.500000000000004),
 (1984, 16.083333333333332),
 (1985, 11.833333333333332),
 (1986, 18.0),
 (1987, 33.25),
 (1988, 40.74999999999999),
 (1989, 28.916666666666668),
 (1990, 44.08333333333333),
 (1991, 41.41666666666667),
 (1992, 22.33333333333333),
 (1993, 23.83333333333333),
 (1994, 30.750000000000004),
 (1995, 44.5),
 (1996, 33.5),
 (1997, 46.833333333333336),
 (1998, 62.24999999999999),
 (1999, 39.666666666666664),
 (2000, 39.91666666666667),
 (2001, 52.916666666666664),
 (2002, 62.08333333333334),
 (2003, 60.5),
 (2004, 53.16666666666667),
 (2005, 66.66666666666667),
 (2006, 61.66666666666668),
 (2007, 63.75),
 (2008, 51.583333333333336),
 (2009, 63.166666666666664),
 (2010, 69.66666666666666),
 (2011, 58.24999999999999),
 (2012, 61.75),
 (2013, 64.66666666666667),
 (2014, 73.16666666666667),
 (2015, 86.58333333333334)]

In [5]:
# Find temperature in Jan 2000
# Your code here
print('Average temperature in Jan 2000: '+ str(jan['2000']))

Average temperature in Jan 2000: 23

In [6]:
# Find temperature in Jun 2009
# Your code here
jun = df['Jun']
print('Average temperature in Jun 2009: '+ str(jun['2009']))

Average temperature in Jun 2009: 65

## Extra Credit  (Optional)

`answers.txt` contains students answers of exam questions (each line contains student_id, then answers made by that student)

- The first number is the student’s ID number. The following 25 letters are the student responses to the exam. If there is no letter following a comma, this means the student skipped answering the question.

- Write code to read the data from the file, compare students answers to answers key (1 point for each correct answer), then find: 

    - The grade for each student.
    - Id of student of the highest score.
    - Id of student of the lowest score.

`answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"`

In [7]:
answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"
key = answerkey.split(',')
ans = pd.read_csv('answers.txt', names = [i for i in range(len(key))])
ans

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
N00000001,A,A,D,D,C,D,D,A,NaN,C,...,C,B,D,A,C,NaN,A,NaN,C,D
N00000002,NaN,A,NaN,D,NaN,B,D,A,C,C,...,C,B,D,C,C,A,A,B,NaN,D
N00000003,B,A,NaN,D,C,B,D,A,C,C,...,C,B,D,A,NaN,A,NaN,B,D,D
N00000004,B,B,D,NaN,NaN,B,D,A,C,C,...,C,B,D,NaN,C,A,D,B,C,D
N00000005,B,A,NaN,D,NaN,B,D,A,C,C,...,C,B,D,D,C,A,A,NaN,D,D
N00000006,B,A,D,A,C,B,D,A,C,C,...,C,NaN,C,A,C,A,C,B,D,A
N00000007,B,A,D,D,C,B,D,A,C,NaN,...,C,B,D,NaN,C,A,A,B,D,NaN
N00000008,A,A,D,D,C,NaN,D,A,C,C,...,A,B,D,A,C,A,NaN,B,B,D
N00000009,B,A,NaN,D,C,B,D,A,C,A,...,A,B,D,A,C,A,A,B,D,D
N00000010,NaN,A,D,B,C,B,D,A,C,C,...,C,B,D,A,D,NaN,NaN,B,D,B
N00000011,B,A,D,NaN,C,B,D,A,C,D,...,C,B,D,A,C,A,B,B,D,D
N00000012,B,NaN,D,D,C,B,D,A,C,C,...,A,B,D,A,NaN,A,A,A,NaN,C
N00000013,NaN,A,D,NaN,B,B,NaN,A,C,A,...,C,B,D,A,C,A,A,B,D,D
N00000014,B,B,D,D,C,B,NaN,D,C,C,...,C,NaN,D,A,C,A,A,NaN,D,D
N00000015,A,C,C,D,C,B,NaN,A,C,C,...,C,B,D,A,C,A,B,NaN,D,D
N00000016,B,A,C,D,NaN,B,D,A,C,C,...,C,B,D,A,C,A,A,B,D,D
N00000017,B,A,D,D,C,B,C,A,D,C,...,C,B,D,D,B,NaN,A,B,D,D
N00000018,B,A,D,A,C,B,D,A,C,C,...,NaN,B,D,A,B,A,A,B,NaN,D
N00000019,B,A,D,D,C,B,D,C,C,C,...,C,B,D,A,NaN,A,A,B,D,D
N00000020,B,NaN,D,D,C,B,D,A,C,B,...,D,B,D,B,C,A,A,B,D,D

In [8]:
# The grade for each student
# Your code here
def grade(l):
    a = np.zeros(len(l))
    for i in range(len(l)):
        a[i] = (l[i]==key[i])
    return sum(a)

#ans.iloc[0][0]==key[0]
#grade(ans.iloc[2])
grades = pd.DataFrame([grade(ans.iloc[i]) for i in range(len(ans))])
grades = grades.set_index(ans.index)
grades

              0
N00000001  16.0
N00000002  18.0
N00000003  21.0
N00000004  19.0
N00000005  21.0
N00000006  18.0
N00000007  22.0
N00000008  18.0
N00000009  22.0
N00000010  19.0
N00000011  22.0
N00000012  19.0
N00000013  19.0
N00000014  20.0
N00000015  19.0
N00000016  23.0
N00000017  18.0
N00000018  20.0
N00000019  20.0
N00000020  18.0

In [9]:
# Id of student of the highest score
# Your code here
grades.idxmax()

0    N00000016
dtype: object

In [10]:
# Id of student of the lowest score
# Your code here
grades.idxmin()

0    N00000001
dtype: object